* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color: #080808;
  --second-bg-color: #101010;
  --text-color: white;
  --main-color: #8c52ff;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 15%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
#menu-icon{
  font-size: 3.5rem;
  color: var(--main-color);
  display: none;
}
.logo{
  font-size: 3rem;
  font-weight: 800;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.3s ease-in-out
}
.logo:hover{
  transform: scale(1.1);
}
span{
  background: linear-gradient(
    270deg,
    #ff5757 10%,
    #8c52ff 100%
  );
  background-clip: text;
  color: transparent;
}
.navbar a{
  font-size: 1.8rem;
  margin-left: 4rem;
  color: var(--text-color);
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}
.navbar a:hover{
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
.gradient-btn{
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: linear-gradient(
    270deg,
    #ff5757 10%,
    #8c52ff 100%
  );
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border: none;
  color: white;
  text-wrap: nowrap;
}
.gradient-btn:hover{
  transform: scale(1.05);
}